._notFoundPage {
    width: 100%;
    height: 90vh;
    padding-top: 5rem;
    overflow: hidden;

}

._notFoundPage .page_404 {
    width: 100%;
    background: #fff;
    font-family: "Arvo", serif;
}

._notFoundPage .page_404 .container {
    width: 100%;
}


.page_404 .container .row .col-sm-12 ._mainContainer {
    width: 100%;

}

.page_404 img {
    width: 100%;
    border: 1px solid #000;

}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

._BtnShop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

._BtnShop button {
    background-color: var(--color-green);
    border-radius: 0.4rem;
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 15%;
    will-change: transform;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    border: none;
    outline: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    -webkit-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    -moz-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    -ms-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    -o-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

._BtnShop button:hover {
    background-color: transparent;
    outline: 1px solid var(--color-black);
    color: var(--color-black);
}

.contant_box_404 {
    margin-top: -50px;
}

@media (min-width: 534.5px) and (max-width: 991px) {
    ._BtnShop button {
        width: 25%;
    }
}

@media (min-width: 0px) and (max-width: 534px) {
    ._BtnShop button {
        width: 50%;
    }
}
