<div class="_footerContainer container-fluid">
  <div class="_footerInformation">
    <div class="_footerImage">
      <a class="navbar-brand">
        <img
          src="../../../assets/images/HeroIconLogoBlack.png"
          alt="Logo Image"
          style="max-width: 40px"
        />
        <span>TreeNature</span>
      </a>
    </div>
    <div class="_footerLinks">
      <ul class="navbar-nav ms-auto text-uppercase f1">
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link active active-first">home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/aboutUs']" class="nav-link">about us</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/products']" class="nav-link">Shop</a>
        </li>
        <!-- <li class="nav-item">
          <a href="#team" class="nav-link">team</a>
        </li> -->
        <li class="nav-item">
          <a [routerLink]="['/contactUs']" class="nav-link">contact</a>
        </li>
      </ul>
    </div>
    <div class="_footerSocilaMedia">
      <div>
        <img
          src="../../../assets/images/facebook-24.png"
          alt="facebook image"
        />
      </div>
      <div>
        <img
          src="../../../assets/images/instagram-24.png"
          alt="instagram image"
        />
      </div>
      <div>
        <img src="../../../assets/images/twitter-24.png" alt="twitter image" />
      </div>
      <div>
        <img
          src="../../../assets/images/whatsapp-24.png"
          alt="whatsapp image"
        />
      </div>
    </div>
  </div>
  <div class="_footerCopyRight">
    <span class="_text">Copyright &copy; 2025 Generic eCommerce</span>
  </div>
</div>
