<div class="_ContainerDisplayInfo">
  <div class="_FormContainer">
    <div *ngIf="userInfoData as user" class="_Form">
      <div class="_field">
        <div class="_inputField">
          <label class="_label">First Name</label>
          <input
            type="text"
            [placeholder]="
              userInfoData.username
                ? userInfoData.username.split(' ')[0]
                : 'First Name'
            "
            disabled
          />
        </div>
      </div>
      <div class="_field">
        <div class="_inputField">
          <label class="_label">Last Name</label>

          <input
            type="text"
            [placeholder]="
              userInfoData.username
                ? userInfoData.username.split(' ').slice(1).join(' ')
                : 'Last Name'
            "
            disabled
          />
        </div>
      </div>
      <div class="_field">
        <div class="_inputField">
          <label class="_label">Email </label>
          <input
            type="text"
            [placeholder]="userInfoData.email || 'User Email'"
            disabled
          />
        </div>
      </div>

      <div class="_field">
        <div class="_inputField">
          <label class="_label">Age</label>

          <input
            type="text"
            [placeholder]="userInfoData.age || 'User Age'"
            disabled
          />
        </div>
      </div>
      <!-- <div class="_field">
        <div class="_inputField">
          <label class="_label">Password</label>
          <input
            type="password"
            [placeholder]="userInfoData.password || 'User Password'"
            disabled
          />
        </div>
      </div> -->
      <div class="_field">
        <div class="_inputField">
          <label class="_label">Country</label>

          <input
            type="text"
            [placeholder]="userInfoData.addresses[0] || 'User Country'"
            disabled
          />
        </div>
      </div>
      <div class="_field">
        <div class="_inputField">
          <label class="_label">Street</label>

          <input
            type="text"
            [placeholder]="userInfoData.addresses[1] || 'User street'"
            disabled
          />
        </div>
      </div>
      <div class="_field">
        <div class="_inputField">
          <label class="_label">City</label>

          <input
            type="text"
            [placeholder]="userInfoData.addresses[2] || 'User City'"
            disabled
          />
        </div>
      </div>

      <div class="_field">
        <div class="_inputField">
          <label class="_label">Postal Code</label>
          <input
            type="text"
            [placeholder]="userInfoData.addresses[3] || 'User postal code'"
            disabled
          />
        </div>
      </div>
      <div class="_field">
        <div class="_inputField">
          <label class="_label">Phone Numbers</label>
          <input
            type="text"
            [placeholder]="userInfoData.phoneNumbers || 'User phone Numbers'"
            disabled
          />
        </div>
      </div>
    </div>
  </div>
</div>
