<div class="_mainContainer">
  <div class="_Container">
    <div class="_image">
      <div
        class="_Title"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
      >
        <h3>Welcome back</h3>
        <p>
          Step back into a world where nature meets design. Access your account
          and continue exploring elegant, nature-inspired pieces that bring life
          and luxury to every space.
        </p>
      </div>
    </div>
    <div class="_FormContainer">
      <div class="_Title">Sign In</div>
      <form class="_Form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="_field _emailField">
          <div class="_inputField">
            <input
              type="email"
              name="email"
              [(ngModel)]="email"
              placeholder="Enter your email"
              class="_Email"
              required
              #emailInput="ngModel"
            />
          </div>
        </div>

        <div class="_field create-password">
          <div class="_inputField">
            <input
              type="password"
              name="password"
              [(ngModel)]="password"
              placeholder="Enter password"
              class="_Password"
              required
              #passwordInput="ngModel"
            />
          </div>
        </div>

        <div class="_inputField _button">
          <input
            type="submit"
            value="SignIn Now"
            class="_btn"
            [disabled]="!email || !password "
          />
        </div>
        <span class="_error password-error" *ngIf="errorMsg">
          <i class="bx bx-error-circle error-icon"></i>
          <p class="error-text">{{ errorMsg }}</p>
        </span>
        <div class="_Link">
          <a [routerLink]="['/signup']">Create An Account?</a>
        </div>

        <div class="_footerCopyRight">
          <div class="_text">Copyright &copy; 2025 Generic eCommerce</div>
        </div>
      </form>
    </div>
  </div>
</div>
