<header class="main-header" id="rootElement">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light main-nav px-0">
      <a class="navbar-brand">
        <img
          src="../../../assets/images/HeroIconLogoWhite.png"
          alt="Logo Image"
          style="max-width: 40px"
          class="_LogoWhite"
        />
        <span>TreeNature</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainMenu"
        aria-controls="mainMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-bar icon-bar-1"></span>
        <span class="icon-bar icon-bar-2"></span>
        <span class="icon-bar icon-bar-3"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav ms-auto text-uppercase f1">
          <li class="nav-item">
            <a
  [routerLink]="['/home']"
  routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  class="nav-link"
  (click)="closeNavbar()"
>
  home
</a>

          </li>
          <li class="nav-item">
            <a
  [routerLink]="['/aboutUs']"
  routerLinkActive="active"
  class="nav-link"
  (click)="closeNavbar()"
>
  about us
</a>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['/products']"
                routerLinkActive="active"
              class="nav-link"
              (click)="closeNavbar()"
              >shop</a
            >
          </li>
          <!-- <li class="nav-item">
            <a
              [routerLink]="['/teams']"
              routerLinkActive="active"
              class="nav-link"
              (click)="closeNavbar()"
              >team</a
            >
          </li> -->
          <li class="nav-item">
            <a
              [routerLink]="['/contactUs']"
                routerLinkActive="active"
              class="nav-link"
              (click)="closeNavbar()"
              >contact</a
            >
           </li>
            <li class="nav-item" *ngIf="authService.isAuthenticated()">
            <a
              [routerLink]="['/dashboard']"
              routerLinkActive="active"
              class="nav-link"
              (click)="closeNavbar()"
              >dashboard</a
            >
          </li>
          <li class="nav-item-button" *ngIf="!authService.isAuthenticated()">
            <a
              [routerLink]="['/signin']"
              (click)="closeNavbar()"
              style="text-decoration: none"
            >
              <button class="button-28"><span>Sign In</span></button>
            </a>
          </li>
          <li class="nav-item-button" *ngIf="authService.isAuthenticated()">
            <a (click)="onLogout()" style="text-decoration: none">
              <button class="button-28"><span>Sign Out</span></button>
            </a>
          </li>
          <li class="nav-item-button" *ngIf="!authService.isAuthenticated()">
            <a
              [routerLink]="['/signup']"
              (click)="closeNavbar()"
              style="text-decoration: none"
            >
              <button class="button-28"><span>Sign Up</span></button>
            </a>
          </li>
          <span class="_Icons">
            <span class="nav-item-love" *ngIf="authService.isAuthenticated()">
              <a
                [routerLink]="['/wishlist']"
                class="nav-link"
                (click)="closeNavbar()"
                title="My Wishlist"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="wishlist-icon"
                  style="width: 24px; height: 24px"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.172 5.172a4.004 4.004 0 015.656 0L12 8.343l3.172-3.171a4.004 4.004 0 015.656 5.656L12 20.343 3.172 11.515a4.004 4.004 0 010-5.656z"
                  />
                </svg>
              </a>
            </span>
            <span class="header-actions">
              <app-cart-icon></app-cart-icon>
            </span>
          </span>
        </ul>
      </div>
    </nav>
  </div>
</header>
