<div class="_AboutUsContainer">
  <div class="_List-Header">
    <div class="_About-Header">
      <div
        class="_AboutContainerHeader"
        data-aos="fade-down"
        data-aos-delay="300"
      >
        <div class="_Title">
          <p class="_PageName">About</p>
        </div>
        <div class="_Title">
          <span>We are Passionate About Our Work</span>
        </div>
      </div>
    </div>
  </div>
  <div class="_StatusContainer">
    <div class="container-fluid">
      <div class="_statusImage">
        <div class="_Image">
          <img
            src="../../../assets/images/stats-count.jpg"
            alt="stats-count image"
            data-aos="fade-right"
            />
            data-aos-delay="500"
        </div>
      </div>
      <div class="_TextHero">
        <div class="_TitleText" data-aos="fade-left" data-aos-delay="500">
          <h2>We strive to provide our customers with the highest quality</h2>
        </div>
        <div class="_DescText" data-aos="fade-left" data-aos-delay="700">
          <p>
            Urban Jungle Co. was founded in 1960 by a group of plant enthusiasts
            who recognized the positive impact that plants can have on our
            lives. Whether it’s purifying the air, reducing stress, or simply
            adding a touch of beauty to your environment, plants are more than
            just decoration—they’re a lifestyle.
          </p>
        </div>
        <div class="_Status" data-aos="fade-left" data-aos-delay="800">
          <div class="_allStatus">
            <div class="_statusContent">
              <span class="_statusText"
                >“We love what we do & create partnerships with our clients to
                ensure their digital transformation is positioned for long-term
                success.”</span
              >
            </div>
            <div class="_Owner">
              <div class="_Image">
                <img
                  src="../../../assets/images/Profile/icons8-person-48.png"
                  alt=""
                />
              </div>
              <div class="_Info">
                <span class="_statusNumber">Ebrahim Salah</span>
                <span class="_statusText">CEO & Co-founder at Company</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_ValuesContainer">
    <div class="container-fluid">
      <section class="py-3">
        <div class="container">
          <span class="text-center _Title">
            Our Core Values that Drive Everything We Do
          </span>
          <div class="row g-4 _Cards">
            <div class="col-md-4 _OneCard">
              <div class="value-box">
                <div class="_Image">
                  <div class="_ImageContainer">
                    <img
                      src="../../../assets/images/boxWhite.svg"
                      alt="box image"
                    />
                  </div>
                </div>
                <div class="_Text">
                  <span>Passionate About Work</span>
                  <p>
                    Passion for work is an enthusiasm and excitement for what
                    you do.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 _OneCard">
              <div class="value-box">
                <div class="_Image">
                  <div class="_ImageContainer">
                    <img
                      src="../../../assets/images/boxWhite.svg"
                      alt="box image"
                    />
                  </div>
                </div>
                <div class="_Text">
                  <span>Creative team members</span>
                  <p>
                    A creative team is to design and execute campaigns &
                    encourage
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 _OneCard">
              <div class="value-box">
                <div class="_Image">
                  <div class="_ImageContainer">
                    <img
                      src="../../../assets/images/boxWhite.svg"
                      alt="box image"
                    />
                  </div>
                </div>
                <div class="_Text">
                  <span>Innovation solutions</span>
                  <p>
                    Using either completely concepts finding new ways of using
                    existing
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 _OneCard">
              <div class="value-box">
                <div class="_Image">
                  <div class="_ImageContainer">
                    <img
                      src="../../../assets/images/boxWhite.svg"
                      alt="box image"
                    />
                  </div>
                </div>
                <div class="_Text">
                  <span>Qualitiful products</span>
                  <p>
                    Product quality refers to how well a product satisfies our
                    customer
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 _OneCard">
              <div class="value-box">
                <div class="_Image">
                  <div class="_ImageContainer">
                    <img
                      src="../../../assets/images/boxWhite.svg"
                      alt="box image"
                    />
                  </div>
                </div>
                <div class="_Text">
                  <span>Customer satisfaction</span>
                  <p>
                    Happy customers are delighted because of the customer
                    service
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 _OneCard">
              <div class="value-box">
                <div class="_Image">
                  <div class="_ImageContainer">
                    <img
                      src="../../../assets/images/boxWhite.svg"
                      alt="box image"
                    />
                  </div>
                </div>
                <div class="_Text">
                  <span>Simplicity interface</span>
                  <p>
                    Simplicity is used loosely to refer to the need to minimize
                    a process
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="_StatusContainer">
    <div class="container-fluid">
      <div class="_statusImage _statusImageTwo">
        <div class="_Image">
          <img
            src="../../../assets/images/our-mission.jpg"
            alt="stats-count image"
            data-aos="fade-left"
            data-aos-delay="500"
          />
        </div>
      </div>
      <div class="_TextHero _TextHeroTwo">
        <div class="_TitleText" data-aos="fade-right" data-aos-delay="500">
          <h2>Our Mission</h2>
        </div>
        <div class="_DescText" data-aos="fade-right" data-aos-delay="700">
          <p>
            Our mission is to make the world a greener place, one plant at a
            time. We strive to provide our customers with the highest quality
            plants and plant care products, along with the knowledge and support
            to help them thrive.
          </p>
        </div>
        <div class="_Status" data-aos="fade-right" data-aos-delay="800">
          <div class="_allStatus">
            <div class="_Owner">
              <div class="_Image">
                <img src="../../../assets/images/true.svg" alt="" />
              </div>
              <div class="_Info">
                <span class="_statusText">Quality and Variety </span>
              </div>
            </div>
            <div class="_Owner">
              <div class="_Image">
                <img src="../../../assets/images/true.svg" alt="" />
              </div>
              <div class="_Info">
                <span class="_statusText">Expert Guidance </span>
              </div>
            </div>
            <div class="_Owner">
              <div class="_Image">
                <img src="../../../assets/images/true.svg" alt="" />
              </div>
              <div class="_Info">
                <span class="_statusText">Experienced Team </span>
              </div>
            </div>
            <div class="_Owner">
              <div class="_Image">
                <img src="../../../assets/images/true.svg" alt="" />
              </div>
              <div class="_Info">
                <span class="_statusText">Sustainable Practices </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
