* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --color-green: #88ad35;
    --color-green-Dark:#0f3100;
    --color-light-green: #ecf4d3;
    --color-light-green-in: #ecf4d380;
    --color-white: #fff;
    --color-black: #000;
    --color-Gray: #707070;
    --color-light-Gray: #a3a3a3;
    --fourth-color: rgba(120, 132, 158, 0.596);
    --color-green-dark: #88ad35ba;
    --black-color: #000;
    --black-color-int: #00000094;
}
