<div class="_ContainerDisplayInfo">
  <div class="_FormContainer">
    <form class="_Form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="_field _nameField">
        <div class="_inputField">
          <label class="_label">User Name</label>
          <input
            type="text"
            formControlName="username"
            placeholder="Username"
            class="_Name"
            required
          />
        </div>
        <span
          class="_error UserName-error"
          *ngIf="
            userForm.get('username')?.invalid &&
            (userForm.get('username')?.touched ||
              userForm.get('username')?.dirty)
          "
        >
          <i class="bx bx-error-circle error-icon"></i>
          <p class="error-text">
            {{
              userForm.get("username")?.hasError("required")
                ? "Username is required"
                : userForm.get("username")?.hasError("minlength")
                ? "Username must be at least 3 characters"
                : ""
            }}
          </p>
        </span>
      </div>
      <div class="_field _emailField">
        <div class="_inputField">
          <label class="_label">Email</label>
          <input
            type="email"
            formControlName="email"
            placeholder="Email"
            class="_Email"
            required
          />
        </div>
        <span
          class="_error email-error"
          *ngIf="
            userForm.get('email')?.invalid &&
            (userForm.get('email')?.touched || userForm.get('email')?.dirty)
          "
        >
          <i class="bx bx-error-circle error-icon"></i>
          <p class="error-text">
            {{
              userForm.get("email")?.hasError("required")
                ? "Email is required"
                : userForm.get("email")?.hasError("email")
                ? "Invalid email format"
                : ""
            }}
          </p>
        </span>
      </div>
      <div class="_field address">
        <div class="_inputField">
          <label class="_label">Password</label>
          <input
            formControlName="password"
            placeholder="New Password"
            type="password"
            required=""
          />
        </div>
        <span
          class="_error"
          *ngIf="
            userForm.get('password')?.invalid &&
            (userForm.get('password')?.touched ||
              userForm.get('password')?.dirty)
          "
        >
          <i class="bx bx-error-circle error-icon"></i>
          <p class="error-text">Password is invalid</p>
        </span>
      </div>
      <div class="_field age">
        <div class="_inputField">
          <label class="_label">Age</label>
          <input
            formControlName="age"
            placeholder="Age"
            type="number"
            class="_Age"
            required
          />
        </div>
        <span
          class="_error"
          *ngIf="
            userForm.get('age')?.invalid &&
            (userForm.get('age')?.touched || userForm.get('age')?.dirty)
          "
        >
          <i class="bx bx-error-circle error-icon"></i>
          <p class="error-text">
            {{
              userForm.get("age")?.hasError("min")
                ? "Age must be at least 18"
                : userForm.get("age")?.hasError("max")
                ? "Age must be 100 or less"
                : "Age is required"
            }}
          </p>
        </span>
      </div>
      <div formArrayName="phoneNumbers" class="_field _Address">
        <label>Phones:</label>
        <div
          *ngFor="let ctrl of phoneNumbers.controls; let i = index"
          class="_inputFieldA"
        >
          <input [formControlName]="i" />
          <div
            class="_error"
            *ngIf="ctrl.invalid && (ctrl.touched || ctrl.dirty)"
          >
            <i class="bx bx-error-circle error-icon"></i>
            <p class="error-text">Phone number is required</p>
          </div>
        </div>
        <button type="button" (click)="addPhone()">Add Phone</button>
      </div>

      <!-- Addresses -->
      <div formArrayName="addresses" class="_field _Address">
        <label>Addresses (Country, City, Street, Postal Code):</label>
        <div
          *ngFor="let ctrl of addresses.controls; let i = index"
          class="_inputFieldA"
        >
          <input [formControlName]="i" />
          <div
            class="_error"
            *ngIf="ctrl.invalid && (ctrl.touched || ctrl.dirty)"
          >
            <i class="bx bx-error-circle error-icon"></i>
            <p class="error-text">Address is required</p>
          </div>
        </div>
        <button type="button" (click)="addAddress()">Add Address</button>
      </div>
      <div class="_field _button">
        <input type="submit" value="Save Change" class="_btn" id="btn" />
      </div>
    </form>
  </div>
</div>
